label{
	@apply
	flex
	mb-1.5
	text-xs
	custom-dark:text-white
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"]{
	@apply
	bg-white
	border
	border-opacity-40
	border-slate-600
	flex
	font-medium
	outline-none
	px-3
	py-2.5
	rounded
	shadow
	text-xs
	w-full
	dark:text-black
	custom-dark:text-black;

	&:focus{
		@apply
		border-primary-500
	}

	&::placeholder{
		@apply
		font-normal
	}
}

.o-error{
	@apply
	text-red-600
	text-xs
	italic
}
