label{
	@apply
	flex
	mb-1.5
	text-xs
	custom-dark:text-white
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="time"],
input[type="search"], select{
	@apply
	bg-white
	border
	border-opacity-40
	border-slate-600
	flex
	font-medium
	outline-none
	px-3
	py-2.5
	rounded
	shadow
	!text-xs
	dark:text-black
	custom-dark:text-black
	w-full;

	&:focus{
		@apply
		border-primary-500
	}

	&::placeholder{
		@apply
		font-normal
	}
}

input[list]::-webkit-calendar-picker-indicator {
	display: none;
}

.react-datepicker-wrapper{
	width: 100% !important;
}

.o-error{
	@apply
		text-red-600
		text-xs
		italic
}

.rdp {
	--rdp-cell-size: 25px !important; /* Size of the day cells. */
	--rdp-caption-font-size: 16px !important; /* Font size for the caption labels. */
	--rdp-accent-color: var(--primary-500) !important; /* Accent color for the background of selected days. */
	--rdp-background-color: #e7edff; /* Background color for the hovered/focused elements. */
	--rdp-accent-color-dark: var(--primary-500) !important; /* Accent color for the background of selected days (to use in dark-mode). */
	--rdp-background-color-dark: var(--primary-500) !important; /* Background color for the hovered/focused elements (to use in dark-mode). */
	--rdp-outline: 2px solid var(--primary-500) !important; /* Outline border for focused elements */
	--rdp-outline-selected: 3px solid var(--primary-500) !important; /* Outline border for focused _and_ selected elements */
	--rdp-selected-color: #fff; /* Color of selected day text */
}

.o-checkbox{
	@apply
		flex
		flex-col
		gap-0.5;

	span{
		@apply
			block;
	}

	&:hover{
		input{
			& ~ span{
				@apply
				border-primary-500
			}
		}
	}
}

input[type='checkbox']{
	@apply
	size-0
	invisible;

	&:checked{
		& ~ span{
			&:before{
				@apply
				bg-primary-500
				left-[19px]
			}
		}
	}

	& ~ span{
		@apply
			size-4
			w-10
			h-6
			mt-1.5
			rounded-full
			shadow
			relative
			border
			border-opacity-40
			border-slate-600
			transition-all;

		&:hover{
			@apply cursor-pointer
		}

		&:before{
			@apply
			size-4
			rounded-full
			bg-primary-500
			block
			absolute
			top-[3px]
			left-[3px]
			content-['']
			bg-opacity-40
			bg-slate-600
			transition-all
		}
	}
}

.custom-select{
	&__error{
		.custom-select{
			&__control{
				@apply
				!border-opacity-100
				!border-rose-600
				animate-shake-horizontal
			}
		}
	}

	&__control{
		@apply
		!border-opacity-40
		!border-slate-600
		rounded
		dark:bg-transparent
		custom-dark:bg-transparent
		shadow;

		&--is-focused{
			@apply
			!border-primary-500
		}
	}

	&__input{
		@apply
		!outline-none !shadow-none;

		&:focus{
			@apply !border-none
		}
	}

	&__single-value,
	&__placeholder{
		@apply
		text-xs
		dark:text-white
		custom-dark:text-white
	}

	&__menu{
		@apply text-xs min-w-[100px] dark:bg-secondary-750 custom-dark:bg-secondary-750;

		&-list{
			@apply !max-h-[135px] min-w-[100px]
		}
	}

	&__option{
		@apply bg-rose-600 text-wrap;

		&--is-selected{
			@apply !bg-primary-500
		}

		&--is-focused{
			@apply !bg-primary-400 !text-white !bg-opacity-40 !cursor-pointer transition-all
		}
	}

	&__indicator{
		@apply !pl-0;

		svg{
			@apply size-4
		}

		&-separator{
			@apply hidden
		}
	}
}
