.icon{
	@apply !font-ccIcons font-normal not-italic;

	&-trash:before {
		content: "\e91b";
	}
	&-plus:before {
		content: "\e91a";
	}
	&-quick-entry:before {
		content: "\e919";
	}
	&-search:before {
		content: "\e918";
	}
	&-truck:before {
		content: "\e917";
	}
	&-house:before {
		content: "\e90c";
	}
	&-abi:before {
		content: "\e900";
	}
	&-air:before {
		content: "\e901";
	}
	&-cancelled:before {
		content: "\e902";
	}
	&-card-view:before {
		content: "\e903";
	}
	&-check:before {
		content: "\e904";
	}
	&-close:before {
		content: "\e905";
	}
	&-collapse-left:before {
		content: "\e906";
	}
	&-collapse-right:before {
		content: "\e907";
	}
	&-dark-mode:before {
		content: "\e908";
	}
	&-down:before {
		content: "\e909";
	}
	&-draft:before {
		content: "\e90a";
	}
	&-hamburguer:before {
		content: "\e90b";
	}
	&-ia:before {
		content: "\e90f";
	}
	&-light-mode:before {
		content: "\e910";
	}
	&-notifications:before {
		content: "\e912";
	}
	&-ocean:before {
		content: "\e913";
	}
	&-sent:before {
		content: "\e914";
	}
	&-wizard-view-2:before {
		content: "\e915";
	}
	&-wizard-view:before {
		content: "\e916";
	}
	&-organization:before {
		content: "\e90d";
	}
	&-reports:before {
		content: "\e90e";
	}
	&-support:before {
		content: "\e911";
	}
}
